Source: nssbackup
Section: universe/devel
Priority: optional
Maintainer: Ouattara Oumar Aziz (alias wattazoum) <wattazoum@gmail.com>
Build-Depends: debhelper (>= 5)
Conflicts: sbackup
Standards-Version: 3.7.2

Package: nssbackup
Architecture: any
Depends: nssbackup-gtk
Description: Not So Simple Backup Suite 
 NSsbackup is a fork of Sbackup intended for desktop
 use. It has multiuser support with nice handling of logs . It also has
 a plugin architecture that will allow you to extend its functionalities.

Package: nssbackup-common
Architecture: all
Depends: python ( >= 2.5 ),
         fuse-utils,
         python-notify
Description: NSsbackup Common files package
 NSsbackup common files package. This package is not the software itself 
 but contains the minimum set of files to make it run.
 
Package: nssbackup-gtk
Architecture: all
Depends: nssbackup-common,
         python-glade2,
         python-gtk2 (>= 2.10),
         python-gnome2
Description: NSsbackup GTK GUI
 NSsbackup GTK GUI. This package will install the GTK+2 GUI of NSsbackup.

Package: nssbackup-ftp
Architecture: any
Depends: curlftpfs,
         nssbackup-common
Description: NSsbackup Fuse FTP/SFTP plugin 
 NSsbackup FTP and SFTP plugin. This package will permit to have the ability
 to make backups from and over FTP/SFTP location. This plugin use FUSE file
 systems.

Package: nssbackup-ssh
Architecture: any
Depends: sshfs,
         nssbackup-common,
         python-pexpect
Description: NSsbackup Fuse SSH plugin
 NSsbackup SSH plugin. This package will permit to have the ability
 to make backups from and over an SSH location. This plugin use FUSE file
 systems.
