#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS

# don't register gconf schemas nor update icon cache -> postinst
# don't clean crondata -> postrm
export GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1
export DISABLE_MAKEFILE_GTK_UPDATE_ICON_CACHE=1
export DISABLE_MAKEFILE_CLEAN_DATA=1
export DISABLE_MAKEFILE_DBUS_RELOAD=1
export DISABLE_MAKEFILE_DESKTOP_DATABASE_RELOAD=1

installdestdir=$(CURDIR)/debian/tmp

clean:
	dh_testdir
	dh_testroot
	rm -f install-stamp build-stamp
	$(MAKE) clean
	dh_clean 

build: build-stamp
build-stamp:
	dh_testdir	
	$(MAKE) PREFIX=/usr
	touch build-stamp

install: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) PREFIX=/usr DESTDIR=$(installdestdir)/usr sysconf_dir=$(installdestdir)/etc SETUP.PY_OPTS="--root=$(installdestdir) --install-lib /usr/share/sbackup --no-compile -O0" install
	dh_install
	touch install-stamp

binary-arch:
binary-indep: install
	dh_installdocs -A
	dh_installexamples $(CURDIR)/data/sbackup.conf.example
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_pysupport /usr/share/sbackup
	dh_gconf
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary

