Source: nssbackup
Section: admin
Priority: optional
Maintainer: Ouattara Oumar Aziz (alias wattazoum) <wattazoum@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: nssbackup
Architecture: any
Depends: python, python-gnome2, python-glade2
Conflicts: sbackup
Description: Not So Simple Backup Suite 
 Not So Simple Backup Suite is a fork of Sbackup intended for desktop
 use. It has multiuser support with nice handling of logs . Italso has
 a plugin arhitecture that will allow you to extend its functionalities.
 .
 
