[Desktop Entry]
Type=Application
#
Name=NSsbackup Restoration
Name[de]=NSsbackup Wiederherstellung
Name[pt_BR]=Restauração de Backup
#
Comment=NSsbackup restoration tool for non-admins.
Comment[de]=NSsbackup Wiederherstellung für Nicht-Admins.
Comment[pt_BR]=Restaure seu backup feito anteriormente (non-admins).
#
GenericName=Restoration tool
GenericName[fr_FR]=Utilitaire de restauration
GenericName[de]=Backup Wiederherstellung
#
Exec=nssbackup-restore-gui
#
Terminal=false
Categories=Utility;
StartupNotify=true
Icon=nssbackup-restore
