[Desktop Entry]
Type=Application
#
Name=NSsbackup Configuration
Name[fr]=Configurateur de la NSsbackup
Name[de]=NSsbackup Einstellungen
Name[pt_BR]=Configuração do Backup
Name[es]=Configuración de NSsbackup
#
Comment=NSsbackup configuration tool for admins. Requires superuser rights.
Comment[de]=NSsbackup Konfiguration für Administratoren. Erfordert Superuser-Rechte.
Comment[pt_BR]=Configure como seus backups são feitos. Requires superuser rights.
Comment[es]=Configuración de NSsbackup para administradores. Requiere privilegios de superusuario.
#
GenericName=Backup configuration tool
GenericName[de]=Backup Einstellungen
GenericName[es]=Herramienta de copia de seguridad
#
Exec=gksu nssbackup-config-gui
#
Terminal=false
Categories=System;Settings;
StartupNotify=true
Icon=nssbackup-conf
#
X-KDE-SubstituteUID = true
