[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=NSsbackup Configuration GUI
Comment=Configuration tool for NSsbackup
Exec=nssbackup-config-gui
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Icon=nssbackup-conf.png
Name[pt_BR]=Configuração do Backup
Comment[pt_BR]=Configure como seus backups são feitos
GenericName[en_GB]=
GenericName[fr_FR]=Configurateur de la Suite NSsbackup
