[Desktop Entry]
Type=Application
#
Name=NSsbackup Configuration
Name[fr]=Configurateur de la NSsbackup
Name[de]=NSsbackup Einstellungen
Name[pt_BR]=Configuração do Backup
#
Comment=NSsbackup configuration tool for non-admins.
Comment[de]=NSsbackup Konfiguration für Nicht-Admins.
Comment[pt_BR]=Configure como seus backups são feitos (non-admins).
#
GenericName=Backup configuration tool
GenericName[de]=Backup Einstellungen
#
Exec=nssbackup-config-gui
#
Terminal=false
Categories=Utility;
StartupNotify=true
Icon=nssbackup-conf
